@import "vue-select/src/scss/vue-select.scss";
@import "sweetalert2/dist/sweetalert2.css";
@import './../js/node-vendor/ckeditor/build/styles.css';
@import "./ck-content.scss";

// readonly checkboxes
select[readonly],input[type='checkbox'][readonly]{
    pointer-events: none;
}

//bootstrap overload
.btn-group > form:not(:first-child) > .btn-group:not(:last-child) > .btn, .btn-group > form:not(:first-child) > .btn:last-child:not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-xs {
    padding: .12rem .25rem;
    font-size: 1rem;
    border-radius: .2rem;
}
